html, body, * {
	padding:0;
	margin:0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'OpenSans-Regular';
    font-size: 14.5px;	
}
.go{
	font-size:2rem;
	position:absolute;
	animation-iteration-count: 1;
}

.trumpet{
	animation-delay: 0s;
	left:10%;
}

.guitar{
	animation-delay: 0.5s;
	left:20%;
}
.keyboard{
	animation-delay: 1.0s;
	left:40%;
}
.note{
	animation-delay: 1.5s;
	left:60%;
}
.drum{
	animation-delay: 2.0s;
	left:80%;
}
.violin{
	animation-delay: 2.5s;
	left:90%;
}
.go{
  animation-name: mymove;
  animation-duration: 35s;
  animation-timing-function: ease;
  top:0;
}
@keyframes mymove {
  0% {
  top: 0%;
  display:inline-block;
  }
  
  100%  {
   top:100%;
   display:none;
  }
}
.selected-border{
	border: #900 1px solid;
}
.gallery-container{
  columns: 12.5rem;
  break-inside: avoid;
  margin-right: 1.25rem;
  padding: 0;
}
.gallery-image{
	width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
  cursor: pointer;
}
.watsapp{
	display:inline-block;
	text-decoration: none;
	color:#000;
	padding:5px;
}
.club-icon.slide-extreme{
	transform: translateX(-100%);
}
.gallery-container li{
	list-style-type:none;
}
img {vertical-align: middle;}
.transform-arrow{
	transform:rotate(180deg);
}
.font-style{
	font-style: normal;
	font-size:1.1rem;
}
.three_new{
	margin: 1rem auto;
	width:100%;
	max-width:1350px;
}
.make-inline{
	display:inline-block;
	width:50%;
	text-align:center;
}
.two > header {
	background: #2E1811;
    background-image: url(../img/dirt.jpg);
    background-size: cover;
    padding: 2rem 0;
    color: #fff;
    text-shadow: 0px 1px 6px rgb(0 0 0 / 60%);
    font-size: 18px;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    text-size-adjust: 100%;
}

.two > header.home-page{
	background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.4)), url(../img/dirt.jpg);
}
header.home-page2{
	background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.4)), 
	                  url('https://scontent.fdel17-1.fna.fbcdn.net/v/t1.6435-9/53110871_2208840322537412_5366806784495321088_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=e3f864&_nc_ohc=4uAjg4RxAHkAX-IHOmD&_nc_ht=scontent.fdel17-1.fna&oh=0ef2812f58eff00647ea3e78c2a97660&oe=60A061AC');
	
	background-position: center center; 
}
.two > .clubs-page{
	background-image:  linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.4)), url('https://scontent.fdel17-1.fna.fbcdn.net/v/t31.18172-8/11084032_833129430108515_26098669873129843_o.jpg?_nc_cat=108&ccb=1-3&_nc_sid=19026a&_nc_ohc=_sfCgaq9IOoAX-2cU1r&_nc_ht=scontent.fdel17-1.fna&oh=60408b1297586b687047d368816eeac9&oe=60A07AE3');
}
.two > .gallery-page{
	background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.4)), 
	                  url(https://scontent.fdel17-1.fna.fbcdn.net/v/t31.18172-8/11888620_904376256317165_6045027991069339374_o.jpg?_nc_cat=106&ccb=1-3&_nc_sid=19026a&_nc_ohc=4jaYyKD38KYAX97jqFO&_nc_ht=scontent.fdel17-1.fna&oh=c46c96782bef90d5f1dc0d1a2499d30a&oe=609E9CB5);
	background-position: 15% 15%;
}
.two > .contact-page{
	background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.4)), 
	                  url(https://scontent.fdel17-1.fna.fbcdn.net/v/t31.18172-8/12183874_932980450123412_6598118608986487730_o.jpg?_nc_cat=103&ccb=1-3&_nc_sid=19026a&_nc_ohc=IflkSwI85i8AX_PzBha&_nc_ht=scontent.fdel17-1.fna&oh=3ed3e685ae2fdf82e5943bcc29161e3f&oe=60A12CFA);
	background-position: 40% 40%;	
}
.two > .privacy-page{
	background-image: url(https://scontent.fdel17-1.fna.fbcdn.net/v/t31.18172-8/11393304_866167276804730_4921757876382083369_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=19026a&_nc_ohc=EJmpuTsAR7cAX8Xeopi&_nc_ht=scontent.fdel17-1.fna&oh=756786a9554258d05ae2bc276b03f58f&oe=60A0A8B6);
}
.two > .terms-page{
	background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.4)), 
	                  url(https://scontent.fdel17-1.fna.fbcdn.net/v/t1.6435-9/84560600_2830607797027325_4714730418526486528_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=ofq24zQW95gAX-IkBOz&_nc_ht=scontent.fdel17-1.fna&oh=7858db4ca9fa3332f9686a812f34317d&oe=60A032E9);
}
.two > .credits-page{
	background-image: url(https://scontent.fdel17-1.fna.fbcdn.net/v/t31.18172-8/11101640_821371257950999_2947842021321906610_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=19026a&_nc_ohc=1x8UKMScDcIAX-A8kBR&_nc_ht=scontent.fdel17-1.fna&oh=35d2a57c5da5e6675a9dde7f0f11bb30&oe=60A057C1);
	background-position: 10% 10%;
}
#container{
	min-height: 100vh;
	position: relative;
	max-width: 2000px;
    margin: 0 auto;
    overflow:hidden;
}

footer{
	text-align:center;
}
.di{
	display:inline-block;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}
.bp{
	padding: 1rem 0 .5rem 0;
}
.smaller-font{
	font-size: .8rem;
}

section {
	position:relative;
}

.two{
	padding:0;
}

.heading{
 position: relative;	
}
a.event-link{
	padding:5px;
	height:auto;
	font-size: 1.1rem;
	color: #0072ff;
}

.center_align{
	width:100%;
	margin-left: auto;
    margin-right: auto;
    }
    

.ls {letter-spacing: 1px;}
.pullquote{
	font-size:3rem;
	line-height: 3rem;
    padding: 2rem 0 2rem 0rem;
    font-family:  'OpenSans-SemiBold';
}

.italic-header{
	font-size: 2rem;
	font-family: 'OpenSans-SemiBold';
	padding-top: 1rem;
}
.club-icon{
	max-width:200px;
	float:left;
	margin-right:.5rem;
	transition: transform 1.2s cubic-bezier(.16,1,.3,1);
}
.sm{
	width:2.5rem;
}
.pullText{
	font-family: 'OpenSans-Regular';
	font-size: 1.1rem;
	line-height: 1.5rem;
    text-indent: 1rem;
}
article > .pullText{
	overflow:hidden;
}
.page-a{
	color:rgba(0, 0, 0, .1);
	text-decoration: none;
}
.page-a:hover{
	color:gray;
}
.bt{
	border-top: 1px solid rgba(0, 0, 0, 0.7);
}
.smaller-header{
	font-family: 'OpenSans-SemiBold';
	font-size: 1.5rem;
}
.font-bigger, .font-bigger address{
	font-size: 1.1rem;
}
.address-section{
	padding-bottom: 1rem;
}
.two, .text, footer{
    font-size: .85rem;
}
    h2{
    /*font-size: 14px;*/
    padding:0;
    margin: 0 auto;
    font-family:  'OpenSans-ExtraBold';
    width: 100%;
    max-width: 1350px;
    }
   article{
	padding-left:0px;
	padding-right:0px;}
   .center_align{
	max-width:1080px;
	margin-left: auto;
    margin-right: auto;
    }
    .two, .text, footer{
    font-size: 1rem;
    }
    h2{
    font-size: 3rem;
    text-align:left;
    } 
    .padding{
      word-break: break-word;
      white-space: normal;
    }
    .padding{
      padding-left:.5rem;
      padding-right:.5rem;
    }
    .larger-photo-container{
       position: fixed;
       background-color: rgba(0,0,0,.5);
       top: 0;
       bottom: 0;
       z-index: 12;
       width: 100%;
       padding: 2rem;
    }
    .larger-photo{
       width:100%;
       max-width: 100%;
       max-height: calc(100% - 4.5rem);
       display: block;
       margin: 0 auto;
       object-fit: contain;
    }
    .img-description-common{
      width: 100%;
      max-width:100%;
      color:#000;
      margin: 0 auto;
      padding-top:.5rem;
    }
    .img-p-bottom{
      bottom:0;
      text-align:center;
    }
    .img-p-top{
      top:0;
      text-align:right;
    }
    .bundle{
      overflow-y: auto;
      background-color: #fff;
      position: absolute;
      border-radius: 1%;
      max-width:1350px;
      width: 100%;
      max-height:85%;
      height:auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border: 1px gray solid;
    }
    .next-slide, .back-slide{
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      display:inline-block;
      border:0;
      background-color: rgba(0,0,0,.5);
      width:2.9rem;
      height:2.9rem;
      color:#fff;
      cursor: pointer;
    }
    .next-slide{
      right:1px;
    }
    .back-slide{
      left:1px;
    }
    
    .larger-photo{
       transition: opacity .5s;
    }
 
@media only screen and (min-width: 768px) {
html, body, * {
	font-size: 16px;
}
.go{
  animation-duration: 20s;
}
.two > header.home-page{
	background-image: url(../img/dirt.jpg);
}
.padding{
      padding-left:0rem;
      padding-right:0rem;
    }
    .larger-photo{
       max-width: 90%;
       }
       
      .bundle{
        height:80%;
      }
}
