html, body, * {
	padding:0;
	margin:0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'OpenSans-Regular';
    font-size: 14.5px;	
}
img {vertical-align: middle;}
.transform-arrow{
	transform:rotate(180deg);
}
.font-style{
	font-style: normal;
}
.three_new{
	margin: 1rem auto;
	width:100%;
	max-width:1350px;
}
.make-inline{
	display:inline-block;
	width:50%;
	text-align:center;
}
.two > header {
	background: #2E1811;
    background-image: url(../img/dirt.jpg);
    background-size: cover;
    padding: 2rem 0;
    color: #fff;
    text-shadow: 0px 1px 6px rgb(0 0 0 / 60%);
    font-size: 18px;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    text-size-adjust: 100%;
}
#container{
	min-height: 100vh;
	position: relative;
	max-width: 2000px;
    margin: 0 auto;
}

footer{
	text-align:center;
}
.di{
	display:inline-block;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}
.bp{
	padding: .5rem 0 .5rem 0;
}
.smaller-font{
	font-size: .8rem;
}

section {
	position:relative;
}

.two{
	padding:0;
}

.heading{
 position: relative;	
}


.center_align{
	width:100%;
	margin-left: auto;
    margin-right: auto;
    }
    

.ls {letter-spacing: 1px;}
.pullquote{
	font-family:  'OpenSans-SemiBold';
	font-size:3rem;
	line-height: 3rem;
    padding: 2rem 0 2rem 0rem;
    font-family:  'OpenSans-SemiBold';
}

.italic-header{
	font-size: 2rem;
	font-family: 'OpenSans-SemiBold';
	padding-top: 1rem;
}
.club-icon{
	max-width:200px;
	float:left;
	margin-right:.5rem;
}
.sm{
	width:2.5rem;
}
.pullText{
	font-family: 'OpenSans-Regular';
	font-size: 1.1rem;
	line-height: 1.5rem;
    text-indent: 1rem;
}
article > .pullText{
	text-indent:0;
	overflow:hidden;
}
.bt{
	border-top: 1px solid rgba(0, 0, 0, 0.7);
}
.smaller-header{
	font-family: 'OpenSans-SemiBold';
	font-size: 1.5rem;
}
.font-bigger, .font-bigger address{
	font-size: 1.1rem;
}
.address-section{
	padding-bottom: 1rem;
}
.two, .text, footer{
    font-size: .85rem;
}
    h2{
    /*font-size: 14px;*/
    padding:0;
    margin: 0 auto;
    font-family:  'OpenSans-ExtraBold';
    width: 100%;
    max-width: 1350px;
    }
   article{
	padding-left:0px;
	padding-right:0px;}
   .center_align{
	max-width:1080px;
	margin-left: auto;
    margin-right: auto;
    }
    .two, .text, footer{
    font-size: 1rem;
    }
    h2{
    font-size: 3rem;
    text-align:left;
    } 
    .padding{
      word-break: break-word;
      white-space: normal;
    }
    .padding{
      padding-left:.5rem;
      padding-right:.5rem;
    }
@media only screen and (min-width: 768px) {
html, body, * {
	font-size: 16px;
}
.padding{
      padding-left:0rem;
      padding-right:0rem;
    }
}
