@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./OpenSans-Regular/OpenSans-Regular.eot');
  src: url('./OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('./OpenSans-Regular/OpenSans-Regular.svg#OpenSans-ExtraBold') format('svg'),
       url('./OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'),
       url('./OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
       url('./OpenSans-Regular/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

